pyqt5==5.15.4
requests==2.25.1
numpy==1.22.0
sympy==1.8
scipy==1.6.3
matplotlib==3.4.2
pytest==6.2.5
qdarkstyle==3.1
darkdetect==0.5.1
h5py==3.6.0
sentry-sdk==1.5.4
pyinstaller==4.9
musr2py==0.0.1
regex